.dollar-rates-container {
  width: 1490px; 
  overflow: hidden; 
  cursor: pointer;
}

@keyframes ticker {
  0% {
    transform: translateX(10%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

.stats {
  white-space: nowrap; 
  overflow: hidden; 
}

.stats .stat {
  display: inline-block;
  margin-right: 10px; 
}

.animate-left-to-right {
  animation: ticker 30s linear infinite; 
}
